@green: #58BA47;
/*layout.inc.css*/
body {
  background-color: #e5e5e5;
}

.container-fluid {
  max-width: 1200px;
  padding:0;
}


#header {
  h1 {
    padding-top: 0;
    margin-top: 0;

    font-size: 28px;
    color: #BA4E3B;
  }
  h2 {
    font-size: 16px;
    color: #555;
    margin-bottom: 0;
  }
  @media (min-width: 768px) {
    h1 {
      font-size: 36px;
    }

    h2 {
      font-size: 22px;
    }
  }
  .first-row {
    .right-section {
      * {
        text-align: right;
      }
      .header-logo {
        img {
          width: 100%;
          max-width: 150px;
        }
      }
    }
  }

  background-color: #fff;
  position: relative;
  > .inside {
    padding: 20px 20px 0 20px;
  }
}

#subheader {
  margin-top: 10px;
  margin-left: -20px;
  margin-right: -20px;
  height: 52px;
  overflow: hidden;
  background-color: #f5f5f5;
  border-color: #ddd;
  .left-section {
    a, li {
      color: #333;
    }
    top: 4px;
    font-size: 12px;
    .fa {
      color: #333;
      font-size: 12px;
      padding-top: 4px;
      padding-bottom: 4px;
    }
  }

  .right-section {
    text-align: right;
    margin: 0;
    padding: 0;
    ul {
      margin: 0;
      padding: 0;
    }
    li {
      float: right;
      height: 52px;
      margin: 0;
      padding: 0;
    }
    .fa {
      color: #89949B;
      font-size: 28px;
      padding: 12px 14px;
    }
    .fa:hover {
      background-color: #444;

    }
    .fa-sign-out, .fa-sign-in {
      background-color: #F4654D;
      color: #fff;
    }
    .fa-sign-out:hover, .fa-sign-in:hover {
      background-color: #BA4E3B;
    }
    .fa:hover {
      color: #fff;
    }
  }
}

#main {
  .list-group{
    max-width:700px;
  }

  .fa {
    font-size: 0.875rem;
  }
  > .inside {
    padding: 20px;
  }
  .dashboard .fa {
    padding-right: 5px;
    color: #333;

  }
  table {
    .fa {
      font-size: 1rem;
    }
    .fa-pencil {
      color: forestgreen;
    }
    .fa-close {
      color: red;
    }

  }
}

#container {
  min-height: 400px;
  background-color: #fff;
  overflow: hidden;
}

#footer {
  border-bottom: 4px solid #BA4E3B;
  background-color: #fff;
  background-color: #302d2d;

  > .inside {
    padding: 20px;
  }
  * {
    color: #fff !important;
  }
}

hr {
  border: solid #999 1px;
  height: 1px;
}

table {
  border-collapse: collapse;
  td, th {
    padding: 5px;
    border: 1px solid #ddd;
    vertical-align: middle;
  }
}

.invisible {
  display: none;
}

.float_left {
  float: left;
}

.float_right {
  float: right;
}

.clearing {
  clear: both;
}

.textalignbottom {
  vertical-align: bottom !important;
}

.textaligncenter {
  text-align: center;
}

.align_right {
  text-align: right !important;
}

.align_left {
  text-align: left !important;
}

.width5 {
  width: 5% !important;
}

.width6 {
  width: 6% !important;
}

.width7 {
  width: 7% !important;
}

.width5 {
  width: 5% !important;
}

.width6 {
  width: 6% !important;
}

.width7 {
  width: 7% !important;
}

.width8 {
  width: 8% !important;
}

.width9 {
  width: 9% !important;
}

.width10 {
  width: 9% !important;
}

.width20 {
  width: 20% !important;
}

.width25 {
  width: 25% !important;
}

.width30 {
  width: 30% !important;
}

.width40 {
  width: 40% !important;
}

.width50 {
  width: 50% !important;
}

.width60 {
  width: 60% !important;
}

.width70 {
  width: 70% !important;
}

.width80 {
  width: 80% !important;
}

.width90 {
  width: 90% !important;
}

.width100 {
  width: 100% !important;
}

/**************** Beurteilungstabelle ***************************/
.beurteilungstabelle {

  width: 100%;
  min-width: 680px;
  table-layout: fixed;
  border-collapse: collapse;
  border-collapse: collapse;

  .description {
    height: 17em !important;
    background-repeat: no-repeat;
    background-position: bottom center;
    text-indent: -9999px;
    padding: 0.5em;
  }
  td {
    height: 4em;
    text-align: center;
    vertical-align: middle !important;
    text-align: center;
    overflow: hidden;
  }
  td.odd {
    background-color: #f5f5f5;
  }


  .edit_icon, .delete_icon {
    cursor: pointer;
  }

  .name_col {
    width: 16%;
    text-align: left;
    padding: 0 5px;
  }

  .skillCell {
    width: 7%;
  }

  .edit_col, .delete_col {
    padding: 0 !important;
    width: 6% !important;
  }


 .error
  {
    background-color: orange;
  }

  .rating,
  .deviation,
  .active .submit_button {
    display: inline;
  }

  .active .rating,
  .active .deviation,
  .submit_button {
    display: none;
  }

  .active .edit_icon {
    display: none;
  }

  .valueSaved {
    background-color: greenyellow;

  }
  /*hide the criterium name, because there is a bg-image*/
  .description span {
    visibility: hidden;
  }
}

.kompetenzen-accordion{
  ul{
    padding-left: 15px;
  }
  li{
    list-style: disc;
  }
}

#Beurteilungstabelle {
  overflow: hidden;

  pre {
    font-size: 9px;
  }

  #requestStatusBox {
    overflow: visible;
  }

  #requestStatusBox p {
    visibility: hidden;
    color: @green;
    margin: 0px;
    overflow: visible;
  }
}

/**
  /*Beurteilung editieren*/

/*Mittelwerttabelle*/
table#Mittelwerttabelle td {
  padding: 1em;
}

/* Strichliste*/
#Strichliste {
  min-width: 1000px;

  td.tallycell {
    width: 2.5%;
    height: 45px;
    cursor: pointer;
    padding: 1px;
  }
  td.bg_red {
    background-color: #ffcccc;
  }
}

/* End Strichliste*/

/* Ajax Strichliste*/
#InfoBox {
  width: 18em;
  font-size: 1em;
  padding: 0.84em;
  position: fixed;
  top: 40%;
  overflow: hidden;
  background-color: #000000;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  color: #FFFFFF;
  z-index: 90;
}

#InfoBox th, #InfoBox td {
  border: 0;
}

#InfoBox td {
  padding-top: 5px;
  line-height: 1.5em;
}

#InfoBox th {
  border-bottom: 1px solid #fff;
  padding-bottom: 1em;
}

#InfoBox table {
  width: 100%;
  margin: 0;
}

#InfoBox .blue {
  color: #3399FF;
  line-height: 2em;
  font-size: 14px;
}

#InfoBox {
  .red {
    color: #FF9900;
  }

  .green {
    color: #00CC00;
  }
}

/* End Ajax Strichliste*/

/*Ajax Schueler Bearbeien*/

#editClasslist .submit_row {
  padding: 2px 4px;
  margin: 0;
}

#editClasslist td.active .content {
  display: none;
}

#editClasslist td .gender,
#editClasslist td .text-input,
#editClasslist td .submit_row,
#editClasslist td.active .edit_row {
  display: none;
}

#editClasslist td.active .gender,
#editClasslist td.active .text-input,
#editClasslist td.active .submit_row {
  display: inline;
}

.display-none {
  display: none;
}

.display_inline {
  display: inline;
}

td > p {
  line-height: 1em !important;
  margin: 0 !important;
}

/*End Ajax Schueler Bearbeien*/



