@green: #58BA47;

body {
  background-color: #C7C7C7;
  background-color: #e9e9e9;

}

.block{
  display:block;
}


// Flat design
.btn, .label, .form-control, .list-group-item:first-child, .list-group-item:last-child, .panel-group .panel {
  border-radius: 0;
}

#header {
  background-color: #fff;
  h1 {
    padding-top: 0;
    margin-top: 0;
    font-size: 28px;
    font-size: 1.75rem;
    color: #BA4E3B;
  }
  h2 {
    font-size: 16px;
    font-size: 1rem;
    color: #555;
    margin-bottom: 0;
  }
  @media (min-width: 768px) {
    h1 {
      font-size: 36px;
    }

    h2 {
      font-size: 22px;
    }
  }
  .first-row {
    margin-bottom: 10px;
    .right-section {
      * {
        text-align: right;
      }
      .header-logo {
        img {
          width: 100%;
          max-width: 75px;
        }
      }
    }
  }
  > .inside {
    padding: 20px 15px 0 15px;
  }
}

#subheader {
  margin-left: -15px;
  margin-right: -15px;
  height: 52px;
  overflow: hidden;
  background-color: #f5f5f5;
  background-color: #f4f4f4;
  background-color: #fff;
  border-top:1px solid #e9e9e9;


  .left-section {
    a, li, .fa {
      font-size: 12px;
      line-height: 26px;
      margin: 0;
    }
  }

  .right-section {
    text-align: right;
    margin: 0;
    padding: 0;
    ul {
      margin: 0;
      padding: 0;
    }
    li {
      float: right;
      height: 52px;
      margin: 0;
      padding: 0;
    }
    .fa {
      color: #89949B;
      background-color: #d9d9d9;
      font-size: 28px;
      padding: 12px 14px;
      margin-left: 1px;
    }
    .fa:hover {
      background-color: #444;
    }
    .fa-sign-out, .fa-sign-in {
      background-color: #F4654D;
      color: #fff;
    }
    .fa-sign-out:hover, .fa-sign-in:hover {
      background-color: #BA4E3B;
    }
    .fa:hover {
      color: #fff;
    }
  }
}

#container {
  margin-top:1rem;
  margin-bottom:1rem;

  min-height: 400px;
  background-color: #fff;
  overflow: hidden;
}

#main {
  .list-group {
    max-width: 700px;
  }

  .fa {
    font-size: 0.875rem;
  }
  > .inside {
    padding: 15px;
  }
  .dashboard .fa {
    padding-right: 5px;
    color: #333;

  }
  table {
    border-collapse: collapse;
    td, th {
      border: 1px solid #ddd;
    }
    .fa {
      font-size: 1rem;
    }
    .fa-pencil {
      color: forestgreen;
    }
    .fa-close {
      color: red;
    }
  }
}

#footer {
  border-bottom: 4px solid #BA4E3B;
  background-color: #302d2d;

  > .inside {
    padding: 15px;
  }
  * {
    color: #fff;
  }
}

.clearing {
  clear: both;
  height: 0;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.align_left {
  text-align: left !important;
}

.align_right {
  text-align: right !important;
}

.invisible {
  display: none;
}

/** General settings for all tables **/
.buf-table {
  width: 100%;
  min-width: 680px;
  th {
    height: 3.25rem !important;
    vertical-align: middle !important;
    padding: 0 0.3125rem;
  }
  td {
    height: 3.25rem !important;
    vertical-align: middle !important;
    text-align: center;
    padding: 0 0.3125rem;
  }
  td.odd {
    background-color: #f5f5f5;
  }
  .fa-close, .fa-pencil {
    cursor: pointer;
  }
  .description {
    height: 13rem !important;
    background-repeat: no-repeat;
    background-position: bottom center;
    text-indent: -9999px;
    padding: 0.3125rem;
  }
}

/**************** Beurteilungstabelle ***************************/
.beurteilungstabelle {

  .name_col {
    text-align: left;
    padding: 0 0.3125rem;
  }

  .error {
    background-color: orange;
  }

  .rating,
  .deviation,
  .active .submit_button {
    display: inline;
  }

  .active .rating,
  .active .deviation,
  .submit_button {
    display: none;
  }

  .active .edit_icon {
    display: none;
  }

  .valueSaved {
    background-color: greenyellow;

  }
  /*hide the criterium name, because there is a bg-image*/
  .description span {
    visibility: hidden;
  }
}

.kompetenzen-accordion {
  ul {
    padding-left: 15px;
  }
  li {
    list-style: disc;
  }
}

#Beurteilungstabelle {
  overflow: hidden;

  pre {
    font-size: 9px;
  }

  #requestStatusBox {
    overflow: visible;
  }

  #requestStatusBox p {
    visibility: hidden;
    color: @green;
    margin: 0px;
    overflow: visible;
  }
}

/**
  /*Beurteilung editieren*/

/* Strichliste*/
#Strichliste {
  min-width: 1000px;

  td.tallycell {
    width: 2.5%;
    height: 45px;
    cursor: pointer;
    padding: 1px;
  }
  td.bg_red {
    background-color: #ffcccc;
  }
}

/* End Strichliste*/

#commentModal .form-control {
  max-width: inherit;
  width: 100%;
}

/*Ajax Schueler Bearbeien*/
#editClasslist {
  td.active .content {
    display: none;
  }

  td .gender,
  td .text-input,
  td .submit_row,
  td.active .edit_row {
    display: none;
  }

  td.active {
    .gender, .text-input, .submit_row {
      display: inline;
    }
  }
  .edit_row {
    padding: 0 5px;
  }

}

/** Mixin loop for:  .width100{width:100%;} etc. **/
.width-loop(@counter) when (@counter > 0) {
  .width-loop((@counter - 1)); // next iteration
  .width@{counter} {
    width: ~"@{counter}%;"
  }
; // code for each iteration
}

.width-loop(100);
// launch the loop

#bewertungsStatistik {
  border: 1px solid #ddd;
  border-radius: 4px;
  width: 100%;
  max-width: 700px;
}

.morris-hover {
  position: absolute;
  z-index: 1000
}

.morris-hover.morris-default-style {
  border-radius: 10px;
  padding: 6px;
  color: #666;
  background: rgba(255, 255, 255, 0.8);
  border: solid 2px rgba(230, 230, 230, 0.8);
  font-family: sans-serif;
  font-size: 12px;
  text-align: center
}

.morris-hover.morris-default-style .morris-hover-row-label {
  font-weight: bold;
  margin: 0.25em 0
}

.morris-hover.morris-default-style .morris-hover-point {
  white-space: nowrap;
  margin: 0.1em 0
}






