/*background-replacement.inc.css*/

.icon_add {
    padding: 1px 0 1px 20px;
    background: url('/../../system/modules/buf/assets/images/icons/pencil_add.png') no-repeat center left;
    background-size: auto 1rem;
}

.icon_search {
    padding: 1px 0 1px 20px;
    background: url('/../../system/modules/buf/assets/images/icons/table_tab_search.png') no-repeat center left;
    background-size: auto 1rem;

}

.icon_table_delete {
    padding: 1px 0 1px 20px;
    background: url('/../../system/modules/buf/assets/images/icons/table_delete.png') no-repeat center left;
    background-size: auto 1rem;

}

.icon_edit {
    padding: 1px 0 1px 20px;
    background: url('/../../system/modules/buf/assets/images/icons/table_edit.png') no-repeat center left;
    background-size: auto 1rem;
}

.icon_back {
    padding: 1px 0 1px 20px;
    background: url('/../../system/modules/buf/assets/images/icons/arrow_left.png') no-repeat center left;
    background-size: auto 1rem;
}

.icon_print {
    padding: 1px 0 1px 20px;
    background: url('/../../system/modules/buf/assets/images/icons/printer.png') no-repeat center left;
    background-size: auto 1rem;
}

.icon_logout {
    padding: 1px 0 1px 20px;
    background: url('/../../system/modules/buf/assets/images/icons/door_out.png') no-repeat center left;
    background-size: auto 1rem;
}

.icon_house {
    padding: 1px 0 1px 20px;
    background: url('/../../system/modules/buf/assets/images/icons/house_two.png') no-repeat center left;
    background-size: auto 1rem;

}
.icon_change_password {
    padding: 1px 0 1px 20px;
    background: url('/../../system/modules/buf/assets/images/icons/change_password.png') no-repeat center left;
    background-size: auto 1rem;

}
.icon_user {
    padding: 1px 0 1px 20px;
    background: url('/../../system/modules/buf/assets/images/icons/user_cowboy.png') no-repeat center left;
    background-size: auto 1rem;

}

.bg_Kriterium1 {
    background: url('../inc/gd/images.php?text=selbständig arbeiten&Kriterium=1') no-repeat bottom center;
    text-indent: -9999px;
    padding: 0.5em;
    height: 15em !important;
}

.bg_Kriterium2 {
    background: url("../inc/gd/images.php?text=sorgfältig arbeiten&Kriterium=2") no-repeat bottom center;
    text-indent: -9999px;
    padding: 0.5em;
}

.bg_Kriterium3 {
    background: url("../inc/gd/images.php?text=sich aktiv am***Unterricht beteiligen&Kriterium=3") no-repeat bottom center;
    text-indent: -9999px;
    padding: 0.5em;
}

.bg_Kriterium4 {
    background: url("../inc/gd/images.php?text=eigene Fähigkeiten***einschätzen&Kriterium=4") no-repeat bottom center;
    text-indent: -9999px;
    padding: 0.5em;
}

.bg_Kriterium5 {
    background: url("../inc/gd/images.php?text=mit anderen***zusammenarbeiten&Kriterium=5") no-repeat bottom center;
    text-indent: -9999px;
    padding: 0.5em;
}

.bg_Kriterium6 {
    background: url("../inc/gd/images.php?text=konstruktiv mit***Kritik umgehen&Kriterium=6") no-repeat bottom center;
    text-indent: -9999px;
    padding: 0.5em;
}

.bg_Kriterium7 {
    background: url("../inc/gd/images.php?text=respektvoll mit anderen***umgehen&Kriterium=7") no-repeat bottom center;
    text-indent: -9999px;
    padding: 0.5em;
}

.bg_Kriterium8 {
    background: url("../inc/gd/images.php?text=Regeln einhalten&Kriterium=8") no-repeat bottom center;
    text-indent: -9999px;
    padding: 0.5em;

}

/*******************/

th.Beurteilungstabelle_grau {
    background-color: #ddd;
    text-indent: -9999px;
    height: 15em;
    padding: 0.5em;
    background-position: bottom center;
    background-repeat: no-repeat;
}

th.Beurteilungstabelle_weiss {
    background-color: #fff;
    text-indent: -9999px;
    height: 15em;
    padding: 0.5em;
    background-position: bottom center;
    background-repeat: no-repeat;
}  

	  