/*typographie*/

html{
    font-size:12px;
}
body {
    font-family: trebuchet ms, verdana, sans-serif;
    background-image: url(/../../system/modules/buf/assets/images/brick.jpg);
    background-repeat: repeat;
}
#header *{
    font-size: 1rem;
}
#subheader * {
    color:#ccc;
}
#main *	{
    font-family:'Trebuchet ms', Arial, sans-serif;
}
#footer{
font-size:1rem;
}
.beurteilungstabelle td{
    font-size:1rem;
}

p {
	line-height:1.5rem;
	margin-top: 1.5em;
	margin-bottom: 1.5em;
}


h1 {
	font:1.67rem/0.9rem 'Trebuchet ms', Arial, sans-serif;
	margin-top: 1em;
	margin-bottom: 1em;
	color:#58BA47;
    font-weight:400;
}

h2 {
    font: 400 1.25rem/0.9rem 'Trebuchet ms',Arial,sans-serif;
    margin-top: 1em;
    margin-bottom: 1em;
    color: rgb(88, 186, 71);
}


h3 {
	font:1.125rem/1.13rem trebuchet ms, verdana, sans-serif;
	margin-top: 2em;
	margin-bottom: 1em;
	color:#D61E1E;
}

h3:first
{
    margin-top:1em;
}
h4 {
	font:1.125rem/1.29rem trebuchet ms, verdana, sans-serif;
	margin-top: 1.29em;
	margin-bottom: 1.29em;
	color:	#B90000;
    color:#E3252D;
	font-weight:bold;
}


strong, b {
	font-weight:bold;
}

a, a:visited {
	text-decoration:none;
	color:#15c;
	font-weight:bold;
}
.deviation{
    font-size:9px;
}
a:hover {
	color:	#D61E1E;
}

p,li,li span{
    color:#222;
}
p,li,a{
	font:1rem/1.5rem trebuchet ms, verdana, sans-serif;
}


table {
	margin-bottom:1em;
}


#neue_Schueler p{
	line-height:normal !important;
	margin:0px !important;
}


/*google color scheme*/
.red{
color:#D61E1E !important;
}
.blue {
	color:#0185F8 !important;
}
.green{
	color:#0A9D32 !important;
}
.yellow{
    color:#ECB41F !important;
}

